PORT=1312
TZ=UTC
DB_URL=./memedime.db
LLM_PROVIDER=groq
# populate valeu if your are using ollama: http://localhost:11434/api/ or proxy
LLM_BASE_URL=
LLM_MODEL_ID=llama-3.1-8b-instant
LLM_API_KEY=<your-api-key>
